@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;0,700;1,400;1,600;1,700&family=Open+Sans:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

img {
    margin-top: 3rem;
}

ul {
    margin-top: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.7rem;
}

ul li a {
    color: #000000;
}

#group {

    width: 550px;
    height: 455.51px;

    /* background: url(./images/Group.png); */
}

.ellipse {
    height: 560px;
}

h1 {
    margin-top: 6.8rem;
    font-family: 'Montserrat', sans-serif;
    /* font-style: normal; */
    font-weight: 700;
    font-size: 3.1rem;
    color: #1A1A1A;
}

h2 {
    margin-top: 19rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 59px;
    text-align: center;
    color: #1A1A1A;

}

h3 {
    text-align: center;
    padding-top: 0;
    padding-bottom: 4rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
}

p {
    padding-top: 1.6rem;
    padding-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    color: #595959;
}

.button {
    padding: 1rem 2rem;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    color: #0074FF;
    box-sizing: border-box;
    border: 1px solid #000000;
}

.text {
    padding: .5rem;
    text-justify: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.local {
    /* Localização */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */
    text-align: center;
    color: #1A1A1A;
}

.line {
    margin-top: 70px;
    width: 270px;
    height: 0px;
    left: 500px;
    top: 100px;
    border: 3px solid #000000;
}

.vector {
    width: 170px;;
    border: 1px solid #000000;
}

.quadros {
    background: #0074FF;
    width: 280px;
    height: 476px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 22px;
    color: #FFFFFF;
}

.num {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 144px;
    line-height: 176px;
    color: rgba(26, 26, 26, 0.1);
}

footer,
.rodape {
    height: 100px;
    background: #1A1A1A;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: right;
    color: #FFFFFF;
}
.mapouter,
.gmap_canvas {
    box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.2);
}
